/*body,  div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form{
	margin:0; padding: 0; border:0;
} */

body{
	text-align: center;

	width:100%;
	margin:auto;
	font:14px/30px "Open sans", sans-serif;
	

}

header{
	height: 50px;
	background: #fff;
	width:100%;
	z-index: 10;
	position:fixed;
	top:0;
	box-shadow:0 5px 10px rgba(0,0,0,0,1);
	-webkit-box-shadow: 0px 5px 10px #242415; 
	-moz-box-shadow: 0px 5px 10px #242415; 
}


.logo{
	float:left;
	padding-left: 139px;
	padding-top: 11px;		
}

.nav {
	float:right;
	}

/* Links */
a{
text-decoration: none;	
	color: gray;
	display: block;
}

.nav li:focus {
    padding-right: 0px;
	border-bottom: #874F99 solid;
}
     
.nav li:hover {
	padding-right: 0px;
	border-bottom: #874F99 solid;
	
}


.nav li{
	list-style: none;
	float:left;
	padding-top: 20px;
	font-family: "Open sans", sans-serif;
	font-size: 12px;
	margin-right: 50px;

}

#banner{
	width:100%;
	height:800px;
	position: fixed;
	top:100px;
	
	background: url("imagenes/congruent_pentagon.png");
	background-repeat: repeat;
	opacity: 1;
	visibility: visible;
	text-align: center;
}


#banner img{
	float: center;
	padding-top: 80px;
	width:298;
	height: 250;
	text-align: center;	
	}

#banner h2{
	float:center;
	padding-top: 74px;
	font-size: 27px; 
	color:#533D5E;
	top:600px;
	text-align: center;
}



#content{
	width: 100%;
	position: relative;
	top: 610px;
	background: #fff;
	height: 1100px;

}


.letra-azul h3{

	padding-top: 120px;
	font-family: "Open sans", sans-serif;
	font-size: 27px;
	float: center;
	color:#53A99A;
	text-align: center;

}

.letra-azul p{
	float: center;
	font-family: "Open sans", sans-serif;
	font-size: 16px;
	color:#7F8184;
	text-align: center;
}


.imagenes{
	margin: auto;
	padding-top:43px;


}

.imagen-izquierda{
	padding-left: 200px;
	float:left;
}

.imagen-derecha{
	float:left;
	padding-left: 200px;
}

/* seccion 2*/
.letra-blanca h3{

	padding-top: 120px;
	font-family: "Open sans", sans-serif;
	font-size: 27px;
	float: center;
	color:#fff;
	text-align: center;

}

.letra-blanca p{
	float: center;
	font-family: "Open sans", sans-serif;
	font-size: 16px;
	color:#fff;
	text-align: center;
}

#content2{
	width: 100%;
	position: relative;
	
	background: #57A79A;
	height: 530px;
}

.imagenes2{
	margin-right: 200px;
	margin-left: 200px;
	margin-top:43px;
}

.imagen-izquierda2{
	float:left;
}

.imagen-derecha2{
	float:right;
}

/*seccion3*/
#content3{
	width: 100%;
	position: relative;
	
	background: #fff;
	height: 530px;
}

.imagenes3{
	margin-right: 200px;
	margin-left: 200px;
	margin-top:43px;
	
}

.imagen-izquierda3{
	float:left;
}

.imagen-derecha3{
	float:right;
}

/*seccion4*/
#content4{
	width: 100%;
	position: relative;
	
	background: #57A79A;
	height: 530px;

}

.imagenes4{
	margin-right: 200px;
	margin-left: 200px;
	margin-top:43px;
	padding-top: 0px;
	
}

.imagen-izquierda4{
	float:left;
}

.imagen-derecha4{
	float:right;
}

/*footer*/

footer{
	width: 100%;
	float:left;
	clear: both;
	box-shadow: 0px 2px 2px #000;
		-moz-box-shadow:0px 2px 2px #000;
		-webkit-box-shadow:0px 2px 2px #000;
	border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
	background-color: #F0F0E1;


	height: 130px;
	position: relative;
	margin: 0;
	padding-top: px;
}



#acerca-de{
	font-family: "Open sans", sans-serif;
	font-size: 12px;
	color:gray;
	text-align: justify;
	line-height: 20px;
	list-style: none;
	width: 600px;
	float:left;
	padding: 50px;
}

#redes-s{
	padding-top: 50px;
	padding-right:50px;
}

#redes-s div{
	width:50px;
	height: 50px;
	float: right;
	background: #ff8000;
	margin-right: 0px;
	opacity: 0.5;
	padding-top: 40px;
}

#redes-s > div a{
	width:50px;
	height: 50px;
	display: block;
}

#redes-s > .facebook{
	background: url(imagenes/iconfacebook3.png);
	background-repeat: no-repeat;
	padding-top:40px;
	
}
#redes-s > .github{
	background: url(imagenes/icongithub3.png);
	background-repeat: no-repeat;	
	padding-top:40px;
	
}


#redes-s > div:hover{
	opacity:1;
}

